@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch&display=swap');

@media (width <= 580px) {
  .App {
    text-align: center;
    font-family: 'Chakra Petch', sans-serif;
    
   height: 100%;
    
  }

  #seccion1-home {
    height: 200px;
    display: flex;
    justify-content: center;
    padding-top: 70px;
    background-color: rgb(104, 104, 104);
    color: white;
  }
  .button-s1 {
    background-color: rgb(158, 255, 145);
    font-family: 'Chakra Petch', sans-serif;
  }

  #num-etrains{
    font-size: 100px;
    color: rgb(158, 255, 145);
    margin: 0px
  }

  #seccion3-home{
    display: flex;
    flex-direction: row;
    background-color: rgb(104, 104, 104);
    color: white;
  }
}
