@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch&display=swap");

.web {
  padding: 5px 0px 0px 5px;
}

.section {
  left: 0;
  bottom: 12px;
  width: 100%;
  background: rgb(158, 255, 145);
  padding-top: 60px;
}

.container {
  max-width: 1100px;
  margin-left: 1.5%;
  display: flex;
  justify-content: flex-start;
  height: 100%;
}

.container ul {
  display: flex;
  flex-direction: row;
  margin-left: 5%;
}

.navbar {
  height: 60px;
  background-color: rgb(158, 255, 145);
  position: relative;
}

.logo {
  display: flex;
  padding: 8px;
  height: 72%;
}

.menu-icon {
  display: none;
}

.nav-elements {
  display: flex;
  justify-content: center;
}

.nav-elements ul {
  display: flex;
  justify-content: center;
  gap: 30px;
  padding-left: 80%;
  list-style-type: none;
}

.nav-elements ul li:not(:last-child) {
  display: flex;
  justify-content: center;
  width: 120px;
}

.nav-elements ul a {
  font-size: 16px;
  font-weight: 400;
  color: #2f234f;
  text-decoration: none;
}

.nav-elements ul a.active {
  color: #574c4c;
  font-weight: 500;
  position: relative;
}

.nav-elements ul a.active::after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #574c4c;
}

.loginUl {
  display: flex;
  justify-content: flex-end;
  padding-left: 50%;
}

.tituloBlog {
  font-size: 20px;
}

#seccion1-home {
  height: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(104, 104, 104);
  color: white;
}

#secc-num-etrains {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.btnHome {
  font-weight: 0;
  font-size: 14px;
  color: #ffffff;
  background-color: rgb(104, 104, 104);
  padding: 10px 30px;
  box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
  border-radius: 50px;
  transition: 255ms;
  transform: translateY(0);
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}

.btnHome:hover {
  transition: 255ms;
  padding: 10px 40px;
  transform: translateY(-0px);
  background-color: #fff;
  color: #000000;
  border: solid 2px #000000;
}

#divBotonesHome {
  display: flex;
  justify-content: center;
}

#divSeccion1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#divSeccion1 h4 {
  font-size: 30px;
}

#videoHome {
  position: relative;
  display: inline-block;
  width: 100%;
  text-align: center;
}

#num-etrains {
  font-size: 100px;
  color: rgb(158, 255, 145);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 99;
}

#etrainers {
  font-size: 100px;
  color: rgb(158, 255, 145);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index:99
}
@media (max-width: 768px) {
  .nav-elements ul li:not(:last-child) {
    margin-right: 30px;
  }
}

@media (max-width: 600px) {
  .menu-icon {
    display: block;
    cursor: pointer;
  }

  #hamburguer {
    width: 30px;
  }

  .nav-elements {
    position: absolute;
    right: 0;
    top: 60px;
    background-color: rgb(158, 255, 145);
    width: 0px;
    height: calc(100vh - 60px);
    transition: all 0.3s ease-in;
    overflow: hidden;
  }

  .nav-elements.active {
    width: 270px;
  }

  .nav-elements ul {
    display: flex;
    flex-direction: column;
  }

  .nav-elements ul li {
    margin-right: unset;
    margin-top: 22px;
  }
}

#logoFooter {
  width: 300px;
}

footer {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 10px;
  margin: 0 30px;
}
footer.top {
  border-bottom: 2px solid #3a4f6a;
  padding-bottom: 20px;
}
footer.top .links {
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
  -webkit-column-gap: 40px;
  -moz-column-gap: 40px;
  column-gap: 40px;
  -webkit-column-rule: 1px solid rgba(28, 110, 164, 0.57);
  -moz-column-rule: 1px solid rgba(28, 110, 164, 0.57);
  column-rule: 1px solid rgba(28, 110, 164, 0.57);
}

footer.top .links .titles {
  color: black;
  font-weight: bold;
  font-size: 30px;
}
footer.top .links p {
  margin: 0px;
}

.rrssFooter {
  display: flex;
  flex-direction: row;
  gap: 30px;
  padding-top: 25px;
}

.rrssFooter a {
  font-size: 30px;
  text-decoration: none;
  color: black;
}

.btnRRSS {
  font-weight: 0;
  font-size: 14px;
  color: #000000;
  background-color: #9eff91;
  padding: 10px 30px;
  border: solid #000000 2px;
  box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
  border-radius: 50px;
  transition: 255ms;
  transform: translateY(0);
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}

.btnRRSS:hover {
  transition: 255ms;
  padding: 10px 40px;
  transform: translateY(-0px);
  background-color: #fff;
  color: #000000;
  border: solid 2px #000000;
}

footer.bottom {
  padding: 20px 0;
  justify-content: space-between;
}

footer .links > div {
  display: grid;
  gap: 10px;
  margin-bottom: 30px;
}

footer h2 {
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  color: blue;
}

footer.legal {
  font-size: 12px;
}

footer .legal > a {
  margin: 0 4px;
}

footer .legal > span {
  margin-right: 10px;
}

footer.bottom .links {
  display: flex;
  gap: 10px;
}

@media (width <= 580px) {
  .App {
    text-align: center;
    font-family: "Chakra Petch", sans-serif;
    height: 100%;
  }

  .img-centro-vertical {
    display: table-cell;
    width: 100%;
    vertical-align: middle;
  }

  #seccion1-home {
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(104, 104, 104);
    color: white;
  }

  .button-s1 {
    background-color: rgb(158, 255, 145);
    font-family: "Chakra Petch", sans-serif;
  }

  #num-etrains {
    font-size: 100px;
    color: rgb(158, 255, 145);
    margin: 0px;
  }

  #seccion3-home {
    background-color: rgb(104, 104, 104);
    color: white;
    display: flex;
    flex-direction: column;
    height: 20vh;
  }
  #seccion4-home {
    height: 300px;
  }

  footer {
    text-align: center;
    align-items: center;
  }

  footer > img {
    margin-top: 10px;
  }

  footer.top .links {
    grid-template-columns: 1fr;
  }

  footer.bottom {
    align-items: center;
  }

  footer .legal > span {
    display: block;
    margin-right: 0;
    margin-bottom: 2px;
  }

  #seccion-blog {
    height: 20vh;
    display: flex;
    flex-direction: column;
    background-color: rgb(104, 104, 104);
    color: white;
  }

  .numero-pilar {
    text-align: start;
    font-size: 90px;
    margin-top: 25px;
    margin-bottom: 10px;
    color: white;
    -webkit-text-stroke: 0.0000000001em black;
  }

  #servicios {
    text-align: start;
    padding-left: 10px;
    padding-right: 5px;
  }

  .h4-pilares {
    font-size: 30px;
    margin-top: 0px;
    margin-bottom: 0px;
  }
}
